<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6">
      <div class="jumbotron text-center">
        <h4 class="text-muted">
          A verfication link has been sent to<br /><i>{{ email }}</i>
        </h4>
        <p>Please click on the link contained in the body of the mail to verify your email address.</p>
        <p>Then click on the button below to sign in to Anfield with your verified email address.</p>
        <a class="d-block text-center" [routerLink]="['/sign-in']">Sign In (after email verification)</a>
      </div>
    </div>
  </div>
</div>
