<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-7 col-lg-6">
      <div class="card">
        <img class="card-img-top" src="assets/img/placeholder.png" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ trophy?.tournament }}</h5>
          <div class="card-text">
            <p>The year was {{ trophy?.year }}, the place was {{ trophy?.place }}...</p>
            <p>
              Cat ipsum dolor sit amet, stare at ceiling light Gate keepers of hell. Snuggles up to shoulders or knees
              and purrs you to sleep always hungry or claws in your leg but sit in a box for hours love you, then bite
              you. Mewl for food at 4am instantly break out into full speed gallop across the house for no reason, and
              stare at imaginary bug.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
